body{
    background-color: rgb(60, 59, 59);
    
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box; 
}
.menu{
    border:5px groove;
    border-radius: 10px;
    font-size: 17px;
    font-family: fantasy;
    background: radial-gradient(ellipse, red, black);
    display: flex;
    align-items: center;
    gap: 15px;
    
}
img{
    max-width: 150px;
    max-height: 100px;
    width: auto;
    height: auto;
}
.ring{
    margin-left: auto;
    margin-right: 8px;
}
li{
    display: inline-block;
    text-align: center;
    width:210px;
    
    
    
    
}
a{
    color:white;
    text-decoration: none;
    
}
nav :hover{
    color: rgb(11, 11, 11);

}



